@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 3rem; // w-12
  height: 3rem; // h-12
  border: 4px solid #60a5fa; // border-4 border-blue-400
  border-top-color: transparent; // border-t-transparent
  border-radius: 9999px; // rounded-full
  animation: spin 1s linear infinite; // animate-spin
}